/* De tablets grandes a notebooks*/

@media only screen and (max-width:1200px){
    html,
    body{
        font-size:14px;
    }

    .about-para{
        margin-bottom: 20px;
    }

    .section-heading,
    .testimonial-heading,
    .packages-heading,
    .contact-heading{
        margin-top: 90px;
    }
}

/* De tablets pequeños a tablets grandes*/

@media only screen and (max-width:1023px){
    html,
    body{
        font-size:12px;
    }

    .row{
        padding: 0 2%;
    }

    .about-box{
        margin-top: 60px;
    }

    .about-box:first-child{
        padding: 0;
        padding-left: 5%;
    }

    .laptop-image{
        padding-left: 20%;
    }

    .package-box{
        width: 100%;
    }

    .package-heading{
        margin-bottom: 25px;
    }

    footer{
        padding: 30px;
    }

    footer p{
        margin-top: 20px;
        line-height: 1.3;
    }
}

/* De celulares grandes a tablets pequeños*/

@media only screen and (max-width:767px){
    html,
    body{
        font-size:10px;
    }

    .about-heading{
        margin-bottom: 20px;
    }

    .section-heading,
    .testimonial-heading,
    .packages-heading,
    .contact-heading{
        margin-top: 60px;
    }

    .section-heading{
        margin-bottom: 10px;
    }

    .section-heading:after{
        margin: 15px auto 0 auto;
    }

    .testimonial-heading{
        margin-bottom: 10px;
    }

    .header-box-text{
        margin-bottom: 10px;
    }
}

/* De celulares pequeños a celulares grandes*/

@media only screen and (max-width:480px){ 
    .main-nav li{
        margin-right: 20px;
    }

    .laptop-image{
        padding: 0;
        margin: 0 auto;
    }

    .about-box:last-child{
        text-align: center;
    }

    .about-box:first-child{
        text-align: center;
        padding: 0;
    }

    .images li{
        width: 50%;
    }

    .span_1_of_4{
        width: 45%;
        margin-bottom: 20px;
        padding: 0 2%;
    }

    .span_1_of_3{
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-form{
        width: 100%;
    }

    .contact-label{
        text-align: left;
    }

    .footer-nav,
    .social-links{
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
}