*{
    border: 0;
    margin: 0;
    border: border-box;
}

html,
body{
    background-color: white; /*color de fondo*/
    color:black;
    text-rendering: optimizeLegibility;
    font-size: 16px; /*tamaño total de la letra 16px = 100%*/
    font-family: 'Work Sans','Arial', sans-serif; /*tipo de letra a usar*/
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

/**** SECCIÓN HEADER ****/

header{
    background-image: url(../images/banner1.webp) ; /*imagen de fondo banner*/
    height: 100vh; /*largo de toda la pantalla*/
    background-size: cover; /*imagen cubrirá toda la pantalla*/
    background-position: center; /*centramos la imagen*/
    background-color: rgb(30, 30, 30); /*color de fondo*/
    background-blend-mode: soft-light; /*propiedad de color*/
    position: relative;
}

nav{
    background-color: white;
    height: 100px;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
}

.main-nav{
    list-style: none;
    float: right;
    margin-top: 50px;
}

.main-nav li{
    display: inline-block;
    margin-right: 40px;
    text-transform: uppercase;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: black;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #ed07b7;;
}

.header-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    font-size: 500%;
    color:whitesmoke;
    font-weight: 400;
    /* margin-bottom: 20px; */
}

h2{
    font-size: 200%;
    color:whitesmoke;
    font-weight: 400;
}

.header-box-text{
    margin-bottom: 100px;
}

/**** BOTONES ****/

.btn:link,
.btn:visited{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
}

.btn-full:link,
.btn-full:visited{
    background-color: #ed07b7;
    color: white;
}

.btn-full:hover,
.btn-full:active{
    background-color: #BD0592;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 2px solid #ed07b7;
    color: #ed07b7;
}

.btn-ghost:hover,
.btn-ghost:active{
    background-color: #ed07b7;
    color: white;
}

/**** SECCIÓN SOBRE NOSOTROS ****/

.about-section{
    padding-bottom: 20px;
}

.about-heading{
    color: #000;
    font-size: 250%;
    font-weight: 500;
    margin-bottom: 50px;
}

.about-para{
    color:#555;
    margin-bottom: 50px;
}

.about-box{
    margin-top: 150px;
}

.about-box:first-child{
    text-align: left;
}

.about-box:last-child{
    text-align: right;
    padding: 5% 0;
}

.laptop-image{
    width: 90%; /* largo del 90 % */
}

/**** SECCIÓN IMÁGENES ****/

.images-section{
    text-align: center; /* centramos el contenido */
    background-color: #f4f4f4; /* color de fondo */
}

.section-heading{
    font-size: 250%; /* tamaño letra */
    color: #000; /* color letra */
    margin-bottom: 20px; /* margen abajo 20 px */
    margin-top: 150px; /* margen arriba 20 px */
}

.section-sub-heading{
    font-size: 150%; /* tamaño letra */
    color: #555; /* color letra */
    font-weight: 300;
    margin-bottom: 30px; /* margen abajo 30 px */
    line-height: 1.5; /* altura de línea */
}

.section-sub-heading:after{
    display: block; /* tipo de caja bloque */
    height: 2px; /* altura de 2 px */
    width: 100px; /* largo de 100 px */
    background-color: #ed07b7; /* color de fondo */
    content: ""; /* no quiero que haya contenido */
    margin: 30px auto 0 auto; /* margen arriba 30 px - derecha auto - abajo 0 - izquierda auto */
}

.images{
    margin-top: 10px; /* margen arriba de 10 px */
    list-style: none;
    width: 100%; /* largo del 100 % */
}

.images li{
    display: block; /* tipo de caja bloque */
    width: 25%; /* largo del 25 % */
    float: left; /* ubicación a la izquierda*/
}

.dental-images{
    background-color: #000; /* color de fondo */
    overflow: hidden;
}

.dental-images img{
    width: 100%; /* largo del 100% */
    height: auto; /* altura automática */
    opacity: .7; /* el brillo de la imagen disminuye */
    transform: scale(1.15); /* pone la imagen sobre el texto */
    transition: transform 0.5s, opacity 0.5s; /* efecto de transición */
}

.dental-images img:hover{
    transform: scale(1); /* la imagen se achica */
    opacity: 1; /* el brillo de la imagen aumenta*/
}

.images-para{
    color: #fff; /* color letra */
}

.clearfix{
    zoom:1;
}

.clearfix:after{
    content: "";
    display: table;
    clear:both;
    visibility: hidden;
}

/**** SECCIÓN SERVICIOS ****/

.services-section{
    text-align: center;
    background-color: #f4f4f4;
}

.service-box{
    padding:1% 0;
}

.big-icon{
    font-size: 250%;
    color: #6920b0;
    display: block;
    margin-bottom: 30px;
}

.service-heading{
    font-size: 150%;
    margin-bottom: 30px;
    font-weight: 400;
}

.service-para{
    color: #555;
    font-size: 90%;
    margin-bottom: 20px;
}

.service-link{
    color: #ed07b7;
    text-transform: uppercase;
    text-decoration: none;
}

/**** SECCIÓN MARCAS ****/

.marks-section{
    text-align: center;
}

.mark-logo{
    width: 65%; /* largo del 65 % */
    height: auto;
}