*{
    border: 0;
    margin: 0;
    border: border-box;
}

html,
body{
    background-color: white; /*color de fondo*/
    color:black;
    text-rendering: optimizeLegibility;
    font-size: 16px; /*tamaño total de la letra 16px = 100%*/
    font-family: 'Work Sans','Arial', sans-serif; /*tipo de letra a usar*/
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

/**** SECCIÓN HEADER ****/

header{
    background-image: url(../images/banner1.webp) ; /*imagen de fondo banner*/
    height: 100vh; /*largo de toda la pantalla*/
    background-size: cover; /*imagen cubrirá toda la pantalla*/
    background-position: center; /*centramos la imagen*/
    background-color: rgb(30, 30, 30); /*color de fondo*/
    background-blend-mode: soft-light; /*propiedad de color*/
    position: relative;
}

nav{
    background-color: white;
    height: 100px;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
}

.main-nav{
    list-style: none;
    float: right;
    margin-top: 50px;
}

.main-nav li{
    display: inline-block;
    margin-right: 40px;
    text-transform: uppercase;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: black;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #ed07b7;;
}

.header-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    font-size: 500%;
    color:whitesmoke;
    font-weight: 400;
    margin-bottom: 20px;
}

h2{
    font-size: 200%;
    color:whitesmoke;
    font-weight: 400;
}

.header-box-text{
    margin-bottom: 100px;
}

/**** BOTONES ****/

.btn:link,
.btn:visited,
input[type="submit"]{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    display: inline-block;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"]{
    background-color: #ed07b7; /* color de fondo */
    color: white;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover{
    background-color: #BD0592;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 2px solid #ed07b7;
    color: #ed07b7;
}

.btn-ghost:hover,
.btn-ghost:active{
    background-color: #ed07b7; /* color de fondo */
    color: white;
}

/**** SECCIÓN SOBRE NOSOTROS ****/

.about-section{
    padding-bottom: 20px;
}

.about-heading{
    color: #000;
    font-size: 250%;
    font-weight: 500;
    margin-bottom: 50px;
}

.about-para{
    color:#555;
    margin-bottom: 50px;
}

.about-box{
    margin-top: 130px;
}

.about-box:first-child{
    text-align: left;
    padding: 0 5%;
}

.about-box:last-child{
    text-align: right;
}

.laptop-image{
    width: 100%; /* largo del 100 % */
}

/**** SECCIÓN IMÁGENES ****/

.images-section{
    text-align: center; /* centramos el contenido */
    background-color: #f4f4f4; /* color de fondo */
}

.section-heading{
    font-size: 250%; /* tamaño letra */
    color: #000; /* color letra */
    margin-bottom: 20px; /* margen abajo 20 px */
    margin-top: 130px; /* margen arriba 20 px */
}

.section-sub-heading{
    font-size: 150%; /* tamaño letra */
    color: #555; /* color letra */
    font-weight: 300;
    margin-bottom: 30px; /* margen abajo 30 px */
    line-height: 1.5; /* altura de línea */
}

.section-sub-heading:after{
    display: block; /* tipo de caja bloque */
    height: 2px; /* altura de 2 px */
    width: 100px; /* largo de 100 px */
    background-color: #ed07b7; /* color de fondo */
    content: ""; /* no quiero que haya contenido */
    margin: 30px auto 0 auto; /* margen arriba 30 px - derecha auto - abajo 0 - izquierda auto */
}

.images{
    margin-top: 10px; /* margen arriba de 10 px */
    list-style: none;
    width: 100%; /* largo del 100 % */
}

.images li{
    display: block; /* tipo de caja bloque */
    width: 25%; /* largo del 25 % */
    float: left; /* ubicación a la izquierda*/
}

.dental-images{
    background-color: #000; /* color de fondo */
    overflow: hidden;
}

.dental-images img{
    width: 100%; /* largo del 100% */
    height: auto; /* altura automática */
    opacity: .7; /* el brillo de la imagen disminuye */
    transform: scale(1.15); /* pone la imagen sobre el texto */
    transition: transform 0.5s, opacity 0.5s; /* efecto de transición */
}

.dental-images img:hover{
    transform: scale(1); /* la imagen se achica */
    opacity: 1; /* el brillo de la imagen aumenta*/
}

.images-para{
    color: #fff; /* color letra */
}

.clearfix{
    zoom:1;
}

.clearfix:after{
    content: "";
    display: table;
    clear:both;
    visibility: hidden;
}

/**** SECCIÓN SERVICIOS ****/

.services-section{
    text-align: center;
    background-color: #f4f4f4;
}

.service-box{
    padding:1% 0;
    margin-bottom: 20px;
}

.big-icon{
    font-size: 250%;
    color: #6920b0;
    display: block;
    margin-bottom: 30px;
}

.service-heading{
    font-size: 150%;
    margin-bottom: 30px;
    font-weight: 400;
}

.service-para{
    color: #555;
    font-size: 90%;
    margin-bottom: 30px;
}

.service-link{
    color: #ed07b7;
    text-transform: uppercase;
    text-decoration: none;
}

/**** SECCIÓN MARCAS ****/

.marks-section{
    text-align: center;
}

.mark-logo{
    width: 65%; /* largo del 65 % */
    height: auto;
    margin-bottom: 20px;
}

/**** SECCIÓN TESTIMONIOS ****/

.testimonials-section{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.8)), url(../images/bannertestimonio.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    padding: 1%;
}

.testimonial-heading{
    font-size: 250%;
    margin-bottom: 20px;
    margin-top: 150px;
}

.testimonial-box{
    text-align: left;
    margin-bottom: 150px;
}

blockquote{
    padding: 1%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before{
    content: "\201C";
    display: block;
    font-size: 500%;
    position: absolute;
    left:-5px;
    top: -5px;
}

cite{
    display: block;
    margin-top: 25px;
    font-size: 90%;
}

cite img{
    border-radius: 50%;
    height: 20%;
    vertical-align: middle;
    margin-right: 10px;
}

/**** SECCIÓN PROMOCIONES ****/

.packages-section{
    text-align: center;
    background-color: #f4f4f4;
}

.packages-heading{
    color: #000;
    font-size: 250%;
    margin-bottom: 50px;
    margin-top: 130px;
}

.package-box{
    background: #fff;
    width: 90%;
    margin-bottom: 20px;
    box-shadow: 0 3px 2px #efefefef; /* horizontal_shadow - vertical_shadow - blur - color*/
    text-align: left;
}

.package-heading{
    font-size:  150%; /* tamaño letra */
    color: #555; /* color texto */
    margin-bottom: 50px; /* margen hacia abajo de 50 px */
    font-weight: 400;
}

.package-price{
    color: #ed07b7; /* color texto */
    font-size: 250%; /* tamaño letra */
    margin-bottom: 10px; /* margen hacia abajo de 10 px */
}

.package-price span{
    font-size: 30%; /* tamaño letra */
    font-weight: 500;
}

.package-para{
    color: #555; /* color texto */
    font-size: 80%; /* tamaño letra */
    margin-bottom: 10px; /* margen hacia abajo de 10 px */
}

.package-box ul {
    list-style: none; /* quitamos los puntos de la lista */
}

.small-icon{
    color: #ed07b7;
    font-size: 120%;
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    text-align: center;
}

.package-box ul li{
    color: #555;
    padding: 5px 0;
}

.package-box div{
    padding: 15px;
    border-bottom: 1px solid #efefefef;
}

.package-box div:last-child{
    border:0;
    text-align: center;
    padding-left: 0;
}

.package-box div:first-child{
    background-color: #fefefe; /* color de fondo */
}

/**** SECCIÓN CONTACTO ****/

.contact-section{
    text-align: center; /* centrar contenido */
    margin-bottom: 20px; /* margen abajo 20 px */
}

.contact-heading{
    color: #000; /* color texto */ 
    margin-top:100px; /* margen arriba 100 px */
    margin-bottom: 50px; /* margen abajo 50 px */
}

.contact-form{
    text-align: left; /* poscionar a la izquierda el contenido */
    width: 60%; /* largo del 60 % */
    margin: 0 auto; /* posicionamos al medio*/
    color: #555; /* color letra */
}

input[type="text"],
input[type="email"],
textarea{
    width: 100%; /* largo del 100% */
    padding: 5px; /* relleno a todos los lados */
    border-radius: 8px; /* radio de borde */
    border:1px solid #CCC; /* borde */
    background-color: #fff; /* color de fondo */
}

input[type=submit]{
    border: 0; /* borde */
}

input[type=checkbox]{
    margin: 10px 5px 10px 0; /* margen */
}

textarea{
    height: 100px; /* altura del 100 px*/
}

.isclient{
    margin-top: 10px; /* margen arriba de 10 px */
    margin-bottom: 10px; /* margen abajo 10 px */
}

*:focus{
    outline:none;
}

/**** SECCIÓN FOOTER ****/

footer{
    background-color: #333; /* color de fondo */
    padding: 50px; /* espacio relleno 50 px a todos los lados */
    font-size: 80%; /* tamaño letra */
    color: #888; /* color letra */
}

.footer-nav{
    float: left; /* posición a la izquierda */
}

.social-links{
    float: right; /* posición a la derecha */
}

.footer-nav li{
    list-style: none; /* quitar puntos a lista */
    display: inline-block; /* elementos uno al lado del otro */
    margin-right: 40px; /* espacio entre cada elemento */
}

.social-links li{
    list-style: none; /* quitar puntos a lista */
    display: inline-block; /* elementos uno al lado del otro */
    margin-left: 40px; /* espacio entre cada elemento */
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    color: #888; /* color letra */
    text-decoration: none; /* quitar delineado */
    transition: color 0.2s; /* transición al pasar mouse por elementos */
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #fff; /* color letra */
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%; /* tamaño texto */
}

.fa-facebook-f,
.fa-twitter,
.fa-google-plus-g,
.fa-instagram{
    transition:  color 0.2s; /* transición */
}

.fa-facebook-f:hover{
    color: #3b5998; /* color letra*/
}

.fa-twitter:hover{
    color: #00aced /* color letra*/
}

.fa-google-plus-g:hover{
    color: #dd4b39 /* color letra*/
} 

.fa-instagram:hover{
    color: #517fa4 /* color letra*/
}

footer p{
    text-align: center; /* centramos contenido */
    margin-top: 50px; /* margen arriba 50 px */
    line-height: 1.5; /* alto de línea */
}